@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f9fc;
}

nav {
  color: rgb(253, 254, 255);
  margin: auto;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  max-width: 100%;

}

nav {

  height: auto;
  max-width: 100%;
  top: 0;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: #1142a9
}

.nav-box {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.nav-box ul li {
  list-style: none;
  margin: auto 10px;
}

.left-nav {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
}

.left-nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.right-nav {
  display: flex;
  align-items: center;
  color: rgb(252, 253, 255);
  font-weight: 500;
  font-size: 14px;

}

.right-nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.right-nav button {
  background-color: #5e5cfa;
  border-color: #5e5cfa;
  color: white;
  padding: 10px 15px;
  transition: 0.3s all;
  border-radius: 5px;

}

.right-nav button:hover {
  background-color: #5855eb;
  color: #f1f1f1;
  cursor: pointer;

}


.menu {
  display: none;
}

.menu_show {
  display: flex;
  flex-direction: column;
  z-index: 100;
  max-width: 150px;
  position: absolute;
  padding: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}


.menu_show a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 12px;
  padding: 8px 16px;
}

.menu_show a:hover {
  background-color: #f1f1f1;
  color: #000;
  border-radius: 5px;

}

.home {
  background-image: url('/media/Posts/tech_backgound.webp');
}

.home-section {
  width: 75%;
  margin: auto;

}

.home-section button {

  background-color: #5e5cfa;
  border-color: #5e5cfa;
  color: white;
  padding: 10px 15px;
  transition: 0.3s all;
  border-radius: 5px;
  margin: 10px;


}

.left-side {
  padding: 20px 0;
  width: 60%;
  font-weight: 500;
  font-size: 36px;
  line-height: 70px;
  color: #00d200;
}

.footer {
  max-width: 100%;
  background-color: rgb(207, 194, 177);
  padding: 20px;
  bottom: 0;
  font-size: 16px;


}

.footer-content {
  box-sizing: border-box;
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-footer ul {
  display: flex;
  align-items: center;

}

.left-footer a {
  text-decoration: none;
  color: #333;
}

.left-footer li {
  list-style: none;
  margin: 0 10px;
}