@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* .font {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  padding-top: 80px;

  min-height: 100vh;
}

.nav-bar {
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  background-color: #e6e6e6;
  z-index: 1000;
  max-height: 80px;
  min-height: 80px;
  box-sizing: content-box;
}

.nav-bar a {
  text-decoration: none;
  color: black;
}




.logo-box img {
  width: 90px;
  background-color: #e6e6e6;
}

.left-nav-links {
  max-width: 40%;
  align-items: center;
}

.left-nav-links .links {
  margin: auto 10px;
}

.left-nav-links .links a {
  margin: auto 10px;
}

.right-nav-links {
  max-width: 30%;
}

.right-nav-links a {
  color: white;
}

.login-btn {
  margin: 10px;
  padding: 8px 20px;
  background-color: rgb(176, 191, 196);
  border-radius: 5px;
  font-weight: 700;
}

.signup-btn {
  margin: 10px;
  padding: 8px 20px;
  background-color: rgb(0, 187, 255);
  border-radius: 5px;
  font-weight: 700;
}
.logout-btn{
  margin: 10px;
  padding: 8px 20px;
  background-color: rgb(255, 42, 0);
  border-radius: 5px;
  font-weight: 700;
}
.search-box {
  max-width: 30%;
  align-items: center;


}

.search-box input {
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
  background: none;
  color: blue;
  margin: auto 10px;
  border: none;
  outline-color: #111010;


}

.search-box button {
  padding: 10px 20px;
  border-radius: 10px;
  margin: auto 10px;
  border: none;
  outline: none;
  background-color: rgb(0, 187, 255);
  text-align: center;
  font-weight: 800;
  color: white;
}


.menu {
  display: none;
}

.menu_show {
  display: flex;
  flex-direction: column;
  z-index: 100;
  max-width: 150px;
  position: absolute;
  padding: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}


.menu_show a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 12px;

  padding: 8px 16px;

}

.menu_show a:hover {
  background-color: #f1f1f1;
  color: #000;
  border-radius: 5px;

}

.footer {
  background-color: #e6e6e6;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 100%;
  max-width: 100%;
  width: 100%;


}

.footer-left-links a,
.footer-right-links a {
  margin: 10px 20px;
}