<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page_name }}</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'global.css' %}" />
    {% block css %}

    {% endblock %}
  </head>

  <body>
    <div class="home">
      <nav>
        <div class="nav-box">
          <div class="left-nav">
            <div class="logo-nav">
              <a href="#">Vblog</a>
            </div>
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a id="dropdown_btn" href="#">Categories</a>
                <div class="menu" id="menu">
                  {% for cat in categories|slice:':4' %}
                    <a href="#">{{ cat.cat_name }}</a>
                  {% endfor %}
                </div>
              </li>

              <li>
                <a href="{% url 'addBlog' %}">Add Blogs</a>
              </li>
              <li>
                <a href="{% url 'contact' %}">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="right-nav">
            <ul>
              <li>
                {% if request.user.is_authenticated %}
                  <a href="{% url 'logout' %}">logout</a>
                {% else %}
                  <a href="{% url 'login' %}">Login</a>
                {% endif %}
              </li>
              <li>
                <button type="button">Sign Up For Free</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      {% block home %}

      {% endblock %}
    </div>

    {% block body %}

    {% endblock %}
    <div class="footer">
      <div class="footer-content">
        <div class="left-footer">
          <ul>
            <li>
              <a href="#">Contact Us</a>
            </li>
            <li>
              <a href="#">About Us</a>
            </li>
          </ul>
        </div>

        <div class="right-footer">Copyright &copy; 2024 Vblog</div>
      </div>
    </div>
    <script>
      var menu = document.getElementById('menu')
      document.getElementById('dropdown_btn').addEventListener('click', function () {
        if (menu.classList.contains('menu')) {
          menu.classList.remove('menu')
          menu.classList.add('menu_show')
        } else {
          menu.classList.remove('menu_show')
          menu.classList.add('menu')
        }
      })
    </script>
  </body>
</html>
