{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'posts/home.css' %}" />
{% endblock %}

{% block body %}
  <div class="content-container container">
    <div class="trends-box">
      <span>Trending Topics</span>
    </div>
    <div class="card-container d-flex">
      {% if posts %}
        {% for post in posts %}
          <div class="card">
            <div class="card-image">
              <img src="{{ post.blog_image.url }}" alt="{{ post.blog_title }}" />
            </div>
            <div class="card-content">
              <span class="card-tag">{{ post.blog_cat.cat_name }}</span>
              <h3 class="card-title">{{ post.blog_title }}</h3>
              <p class="card-date">{{ post.submitted_at|date:'F j, Y' }}</p>
            </div>
            <button type="button" onclick="location.href='{% url 'post' post.id %}'">Read the Post</button>
          </div>
        {% endfor %}
      {% else %}
        <p>No published posts available.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
