{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'posts/post.css' %}" />
{% endblock %}
{% block body %}
  <div class="container">
    <div class="post">
      <div class="post-title">
        <h1>{{ queryset.blog_title|title }}</h1>
        <p>{{ queryset.submitted_at|date:' F j,Y ' }}</p>
        <p>
          <img src="/media/Posts/user.png" alt="" width="50" /> Chris
        </p>
      </div>
      <div class="post-img">
        <img src="/media/{{ queryset.blog_image|title }}" alt="{{ queryset.blog_image|title }}" />
      </div>
      <div class="post-content">
        <div class="post-details">{{ queryset.blog_content|safe }}</div>
      </div>
    </div>
  </div>
{% endblock %}
