{% extends 'base.html ' %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'posts/register.css' %}">
{% endblock %}
{% block body %}
  <div class="container">
    {% if messages %}
      <div class="alert alert-primary" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
    <div class="register-form-container">
      <div class="register-form">
        <span class="register-title">Register</span>

        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form-input">
            <span class="form-label">Email</span>
            <input type="email" placeholder="Email" name="email" required />
          </div>
          <div class="form-input">
            <span class="form-label">Name</span>
            <input type="text" placeholder="Name" name="name" required />
          </div>
          <div class="form-input">
            <span class="form-label">Mobile No.</span>
            <input type="tel" placeholder="Mobile Number"  name='mobno' required />
          </div>

          <div class="form-input">
            <span class="form-label">Password</span>
            <input type="password" placeholder="Password" name="password" required />
          </div>
          <button type="submit">Register</button>
        </form>
        <div class="login-link">
          <span>Already have an account? <a href="{% url "login" %}">Login here</a></span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
